.header-text {
    font-family: 'Quicksand', sans-serif;
    font-size:400%;
    text-align:center;
}

.header {
    
    background-color:white;
    border-radius:25px;
    box-sizing: border-box;
}

.header-buttons {
    text-align:center;
    margin-top:-40px;
}

.header-button {
    border:none;
    padding: 10px;
    border-radius:100px;
    background-color:orange;
}

body {
    background-color:#e9ebf0;
    font-family: 'Quicksand', sans-serif;
}